.password_reset {
  height: 100vh;
  &_form {
    width: fit-content;
    max-height: 100%;
    padding-bottom: 15vh;
    position:relative;
    left: 5vw;

    & input[type="submit"] {
      align-self:flex-start;
      margin-left: 2vw;
    }

    
   
  }
  &_form,
  &_emailCheck,
  .loading {
    margin: 1vh auto 0 auto;
  }
  &_emailCheck{
    width: fit-content;
    row-gap: 2vh;
    & h2 {
      width: fit-content;
    }
    &_note {
      font-style: italic;
      font-size: 12px;
    }
  }

  &_emailForm {
    text-align:center;
  & label {
    width: fit-content;
  }
  }
}
