.password_reset {

    height: 100vh;
    &_form {
        width: 60%;
    max-height: 100%;
    padding-bottom: 15vh
    }
    &_form, &_checkEmail, .loading {
    margin: 4vh auto 0 auto;
    
    }
    &_checkEmail {
       width: fit-content;
    }
}
