.verification {
    height: 100vh;

    &_emailCheck {
        margin: 2vh auto;
        width: fit-content;;
        row-gap: 2vh;
        & h2 {
            width: fit-content;
        }
        &_note {
            font-style: italic;
            font-size: 12px;
        }
    }
 
}