.transaction {
  row-gap: 2vh;
  
  &_form {
    display: grid;
    row-gap: 3vh;

    & input[type="submit"] {
      height: 45px;
      font-size: 20px;
      padding: 0 20px;
      margin-top: 1vh;
    }

    & label {
      & span {
        font-family: "Open Sans";
        font-size: 18px;
      }
    }

    &_label {
      row-gap: 0.5vh;

      & input,
      & select {
        width: 60%;
        height: 28px;
        border-radius: 10px;
        text-align: center;
        font-family: "Open Sans";
      }
    }

    &_radioButtons {
      display: flex;
      width: 100%;
      column-gap: 5vw;

      & label {
        display: flex;
        column-gap: 1vw;
        & input {
          height: 20px;
          width: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
