.password_container {
    display: flex;
    // height: 6vh;
    // margin-bottom: 1vh;
  
   
    & button {
        
        all:unset;
        position: relative;
        width: fit-content;
        font-size:12px;
        right: 2.4vw;
        padding-right:.5vw;
        // left:67%;
        // bottom: 120%;
        color:rgba(0, 0, 0, 0.6);
        &:hover {
            cursor:pointer;
        }
    }
}

.helperText {
    font-size: 10px;
    font-style: italic;
    color:rgba(0, 0, 0, 0.6);
}

.password_match span {
    font-size: 14px;
    display: flex;
    align-items:center;
    column-gap: .5vh;
}