.dashboard {

    &_header {
        background-image:url("../../assets/icapital-budget-dashboard.jpg");
        background-repeat: no-repeat;
        background-position:center;
        height: 22vh;
        background-size: 100% auto;
        color: white;

        &_left {
            padding: 1vh 0;
            margin-left: 5vw;
            max-width: 50%;
            display: grid;
            grid-template-rows: 35% 65%;
            row-gap: 1.5vh;
            align-items:center;

            & h2 {
                // margin-left: 5vw;
            }

            &_summary {
                font-size: 18px;
                
                list-style:none;
                 & li {
                    margin-bottom: .6vh;
                 }
            }
        }
    }




    &_transactions {
        width: 45%;
        &_transaction {
            display:grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items:center;

            &_details {
                row-gap: .4vh;
                & >* {
                    align-self:flex-start;
                }
                &_category {
                    
                    font-size: 22px;
                    font-weight:600;
                    color: rgba(0, 0, 0, 0.87);
                }
                &_date {
                    
                    color: rgba(0, 0, 0, 0.6);
                    
                }
            }
        }
    }
}