.dashboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 2vh;
  align-items: center;

  &_header {
    grid-column: span 2;
    background-image: url("../../assets/icapital-budget-dashboard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 22vh;
    background-size: 100% auto;
    color: white;

    &_left {
      padding: 1vh 0;
      margin-left: 5vw;
      max-width: 50%;
      display: grid;
      grid-template-rows: 35% 65%;
      row-gap: 1.5vh;
      align-items: center;

      &_summary {
        font-size: 18px;

        list-style: none;
        & li {
          margin-bottom: 0.6vh;
        }
      }
    }
  }

  &_transaction_container {
    grid-column: span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 55vh;
    overflow: hidden;

    &_addTransaction {
      height: 49vh;
      grid-column: 2;
      margin: 0 2vw 0 0;
    }

    &_transactions {
      height: 49vh;
      display: grid;
      row-gap: 1vh;
      grid-row: 1;
      grid-column: 1;
      width: 80%;
      margin-left: 2vw;
      padding: 2vh 1vw;
      overflow-y: auto;
      & > * {
        margin-left: 2vw;
      }

      & h2 {
        margin-bottom: 2vh;
      }
      &_transaction {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1.5fr;
        align-items: center;

        &_icon {
          // justify-self:center;
          & svg {
            width: 2em;
            height: 2em;
            border-radius: 10px;
            padding: 5px;
            background-color: #f0f4f8;
            color: #4a5568;
          }
        }

        &_details {
          row-gap: 0.4vh;
          & > * {
            align-self: flex-start;
          }
          &_category {
            font-size: 20px;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.87);
          }
          &_date {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
          }
        }
        &_amount {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
}
